<div class="logo-container">
  <img src="assets/images/teleSport.png" alt="TeleSport logo" />
</div>

<h2 class="title">Olympic Games Dashboard</h2>
<hr/>

<app-header
  [title]="titlePage"
  [kpis]="[
    { label: 'Countries', value: totalCountries },
    { label: 'JOs', value: totalJOs }
  ]">
</app-header>

<!-- LOADING -->
<div *ngIf="loading">Loading...</div>

<!-- ERROR -->
<div *ngIf="error">Error loading data</div>

<app-medal-chart
  *ngIf="!loading && !error"
  [olympics]="olympics">
</app-medal-chart>
